.navMain{
  height: 40px;
  justify-content: center;
}
.navText{
  margin: auto;
  font-size: 11px;
}


.title {
  margin-top: 2%;
  margin-left: 4%;

}



@media screen and (max-width: 600px) {


  .navMain{
    height: 40px;
    justify-content: center;
  }
  .navText{
    margin: auto;
    font-size: 11px;
  }
  .title {
    margin-top: 2%;
    margin-left: 4%;
  
  }
}




  .logo {
    
    -webkit-animation: slideIn 1.5s forwards;
    -moz-animation: slideIn 1.5s forwards;
    animation: slideIn 1.5s forwards, rotateY 1s infinite linear;
  }
  @-webkit-keyframes slideIn {
    0% {
      transform: translateX(-900px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @-moz-keyframes slideIn {
    0% {
      transform: translateX(-900px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slideIn {
    0% {
      transform: translateX(-900px);
    }
    100% {
      transform: translateX(0);
    }    
  }






